
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #191919;
}
.gallery-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10% auto;
}
#backbtn,
#nextbtn {
  width: 50px;
  margin: 40px;
  cursor: pointer;
  position: relative;
  transition: 0.3s;
}
.gallery {
  width: 900px;
  display: flex;
  overflow-x: scroll;
}
.gallery::-webkit-scrollbar {
  display: none;
}
.gallery div {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  padding: 20px;
  flex: none;
}
.gallery div img {
  width: 100%;
  filter: grayscale(100%);
  transform: transform 0.5s;
}
.gallery div img:hover {
  cursor: pointer;
  filter: grayscale(0);
  transform: scale(1.1);
}
